jwt/
__pycache__/
/.vscode

        #def to_json(x):
            #return {
            #    'username' : x.username,
            #    'password' : x.password
            #}

        #return {'users' : list(map(lambda x: to_json(x), UserModel.query.all()))}